<div class="row">
  <!-- <h2>About Me</h2> -->
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="/static/img/sauranil.png" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <p class="content"> 
Hi! I am Sauranil, a robotics researcher currently working as a Project Assistant at the Wipro IISc Research Innovation Network Lab (WIRIN) in Indian Institute of Science, Bangalore (IISc). I am supervised by <a href="http://aero.iisc.ac.in/people/suresh-sundaram/">Dr. Suresh Sundaram</a>, Associate Professor, Department of Aerospace Engineering, IISc. Prior to joining IISc, I was a Research Assistant at the <a href="http://robotics.iiitd.edu.in/coral/">Collaborative Robotics Lab (CORAL)</a> in IIIT Delhi (IIIT-D), under the supervision of <a href="https://www.iiitd.ac.in/sujit">Dr. P. B. Sujit</a>. My research interests are in robotics, autonomous vehicles, and control.</p>      
    


    <!-- can perceive and reason based on multimodal sensory information, are interpretable so that decisions or predictions made by such models or systems can be explained as opposed to them being black-boxes and are transferable and robust in the sense that they can be adapted across different domains and problem settings with ease and limited supervision. -->
    <!-- </p> -->
    <!-- My research interests focus on Semantic Scene Understanding and Artificial Intelligence. I am also interested in the interpretability aspect of Deep Learning models. </p> -->
    <p class="content"> I completed my Bachelor's in Electronics and Communication Engineering from Indian Institute of Information Technology, Guwahati (IIITG) in 2019.

    <!-- <p class="content">Interested? Visit my <a href="https://scholar.google.com/citations?user=rIK7AMkAAAAJ&hl=en">Google Scholar</a> profile to find out more about my work!</p> -->
    <p class="content">Feel free to contact me at <a href="mailto:sauranild@iisc.ac.in">sauranild@iisc.ac.in</a></p>
    <!-- <span class="content">You can also reach me at: </span> -->

    <!-- <a class="btn btn-social-icon btn-linkedin" target="_blank" href="https://www.linkedin.com/in/prithvijit-chattopadhyay-260b2b54/">
      <span class="fa fa-linkedin"></span>
    </a> -->

<!--     <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/prithvijitch" target="_blank">
      <span class="fa fa-twitter"></span>
    </a> -->

    <!-- <a class="btn btn-social-icon btn-facebook" target="_blank" href="https://www.facebook.com/profile.php?id=100000482682798">
      <span class="fa fa-facebook"></span>

    <a class="btn btn-social-icon btn-instagram" target="_blank" href="https://www.instagram.com/prithv12/?hl=en">
      <span class="fa fa-instagram"></span>
    </a> -->

  </div>
</div>

