<div class="row">
  <!-- <h2>About Me</h2> -->
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="/static/img/sauranil.png" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <p class="content"> 
Hi! I am Sauranil, a graduate student in Electrical Engineering at the University of Colorado (CU), Boulder. I am passionate about robotics and autonomous vehicles, particularly in the area of controller design. Before joining CU, I worked as a Project Assistant at the Wipro-IISc Research Innovation Network Lab (WIRIN) in Indian Institute of Science, Bangalore (IISc), where I was supervised by <a href="http://aero.iisc.ac.in/people/suresh-sundaram/">Dr. Suresh Sundaram</a>, Associate Professor, Department of Aerospace Engineering, IISc. Prior to joining IISc, I was a Research Assistant at the <a href="http://robotics.iiitd.edu.in/coral/">Collaborative Robotics Lab (CORAL)</a> in IIIT Delhi (IIIT-D), under the supervision of <a href="https://www.iiitd.ac.in/sujit">Dr. P. B. Sujit</a>.</p>      
    

    <p class="content"> I completed my Bachelor's in Electronics and Communication Engineering from the Indian Institute of Information Technology, Guwahati (IIITG) in 2019.

    <!-- <p class="content">Interested? Visit my <a href="https://scholar.google.com/citations?user=rIK7AMkAAAAJ&hl=en">Google Scholar</a> profile to find out more about my work!</p> -->
    <p class="content">Feel free to contact me at <a href="mailto:sauranild@iisc.ac.in">sauranild@iisc.ac.in</a></p>
    <!-- <span class="content">You can also reach me at: </span> -->

    <!-- <a class="btn btn-social-icon btn-linkedin" target="_blank" href="https://www.linkedin.com/in/prithvijit-chattopadhyay-260b2b54/">
      <span class="fa fa-linkedin"></span>
    </a> -->

<!--     <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/prithvijitch" target="_blank">
      <span class="fa fa-twitter"></span>
    </a> -->

    <!-- <a class="btn btn-social-icon btn-facebook" target="_blank" href="https://www.facebook.com/profile.php?id=100000482682798">
      <span class="fa fa-facebook"></span>

    <a class="btn btn-social-icon btn-instagram" target="_blank" href="https://www.instagram.com/prithv12/?hl=en">
      <span class="fa fa-instagram"></span>
    </a> -->

  </div>
</div>

