<div class="row">
  <h2>Achievements</h2>
  <hr>
  <div class="col-md-12">
    <ul id="achievements_list">
      <li class="newsElement">Best paper award, IEEE UPCON 2019.</li>
      <li class="newsElement">Best undergraduate research project, ECE Dept, IIITG, 2018.</li>
      <li class="newsElement">Project shortlisted in top 100 submissions, 5G Hackathon 2020, Govt. of India.</li>
      <li class="newsElement">Top 10 in Rackathon 2021 out of 108 teams.</li>
      <li class="newsElement">Secured third state rank in International Olympiad of Mathematics. </li>
    </ul>
  </div>
</div>
