<div class="row">
  <h2>Achievements</h2>
  <hr>
  <div class="col-md-12">
    <ul id="achievements_list">
      <li class="newsElement">Finalist for 2019 Adobe Research Fellowship</li>
      <li class="newsElement">Finalist for 2019 Snap Research Fellowship</li>
      <li class="newsElement">Won the 2016 Virginia Divisionals and placed second at US Mid-Atlantic Table-Tennis Championship </li>
      <li class="newsElement">Represented Virginia Tech at the 2016 US-Canada National Table-Tennis Championship</li>
    </ul>
  </div>
</div>
