<div class="row">
  <h2>Achievements</h2>
  <hr>
  <div class="col-md-12">
    <ul id="achievements_list">
      <li class="newsElement">Only undergraduate student of the 2015 batch at IIIT-G to be selected for a fully-funded research project scholarship.</li>
      <li class="newsElement">Top three undergraduate researcher in the Dept. of ECE for three consecutive semesters.</li>
      <li class="newsElement">Secured third state rank in International Olympiad of Mathematics. </li>
      <li class="newsElement">Project ROSNet selected for demonstration at IEEE RO-MAN 2019.</li>
    </ul>
  </div>
</div>
