<div class="row">

  <h2>Educational Qualifications</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Ph.D in Computer Science</h3>
      <h4 class="content_heading">Georgia Institute of Technology, Atlanta</h4>
        <p class="content">Thesis title: Towards Interpretable, Transparent and Unbiased AI</p>
        <p class="content">Expected Graduation: May 2020</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/gt.png" width="80%">
      <p>(August 2015 - Present)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Master of Science in Physics and Bachelor of Engineering in Electrical & Electronics Engineering</h3>
      <h4 class="content_heading">Birla Institute of Technology and Science (BITS-Pilani), Hyderabad, India</h4>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/bits.png" width="50%">
      <p>(August 2010 - May 2015)</p>
    </div>
  </div>

</div>
