<div class="row">
    <h2>Research Experience</h2>
    <hr>
    
    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Project Assistant, Wipro IISc Research and Innovation Network Lab (WIRIN), IISc Bangalore</a></h3>
        <h4 class="content">Guide: <a target="_blank" href="http://aero.iisc.ac.in/people/suresh-sundaram/">Dr. Suresh Sundaram, Associate Professor, Dept. of Aerospace Engineering, IISc</a>
        
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/iisc.png" width="120px">
          <p>(Dec 2019 - June 2021)</p>
        
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Assistant, <a target="_blank" href="http://robotics.iiitd.edu.in/coral/">Collaborative Robotics Lab (CORAL), IIIT-D</a></h3>
        <h4 class="content">Guide: <a target="_blank" href="https://www.iiitd.ac.in/sujit">Dr. P. B. Sujit, Associate Professor, ECE, IIIT-D</a>
        
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/coral.png" width="120px">
          <p>(Aug 2019 - Dec 2019)</p>
        
        <br>
      </div>
    </div>
        
        
        <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Winter Research Intern, CORAL, IIIT-D</h3>
        <h4 class="content">Guide: <a target="_blank" href="https://www.iiitd.ac.in/sujit">Dr. P. B. Sujit, Associate Professor, ECE, IIIT-D</a>
        
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/coral.png" width="120px">
          <p>(Dec 2018 - Jan 2019)</p>
        
        <br>
      </div>
    </div>
        
        
        <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, Cyber-physical Systems Lab, IIIT-D</h3>
        
        
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/iiitd.jpg" width="120px">
          <p>(May 2018 - Jul 2018)</p>
        
        <br>
      </div>
    </div>
        
        

    
