<div class="row">
    <h2>Research Experience</h2>
    <hr>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Assistant, <a target="_blank" href="http://robotics.iiitd.edu.in/coral/">Collaborative Robotics Lab (CORAL), IIIT-D</a></h3>
          <h4 class="content">Guide: <a target="_blank" href="https://www.iiitd.ac.in/sujit">Dr. P. B. Sujit, Associate Professor, ECE, IIIT-D</a>
        <p>(August 2019 - Present)</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/coral.png" width="120px">
        
        <br>
      </div>
    </div>

    
