<div class="row">
    <h2>Research Experience</h2>
    <hr>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Assistant, <a target="_blank" href="http://robotics.iiitd.edu.in/coral/">Collaborative Robotics Lab (CORAL), IIIT-D</a></h3>
        <p>(August 2019 - Present)</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/coral.png" width="120px">
        
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">PhD Research Assistant, <a target="_blank" href="https://www.cc.gatech.edu/~parikh/vil.html">Visual Intelligence Lab, Georgia Tech</a></h3>
          <p class="content">Towards building AI systems that are Interpretable, Transparent, and Unbiased.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/vil.png" width="120px">
        <p>(August 2017 - Present)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="https://www.tesla.com/autopilot/">Tesla Autopilot</a></h3>
          <p class="content">Preventing failures of autonomous systems in case of rarely occurring scenarios.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/tesla_logo.png" width="120px">
        <p>(Feb 2019 - May 2019)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="https://www.sra.samsung.com/">Samsung Research America</a></h3>
          <p class="content">Leveraging explanations to make AI models more grounded.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/sra_logo.png" width="120px">
        <p>(May 2018 - July 2018)</p>
        <br>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="https://www.research.fb.com/">Applied Machine Learning, Facebook</a></h3>
          <p class="content">Developing framework for interpreting and visualizing Facebook's deep models.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/fb_logo.png" width="120px">
        <p>(Feb 2017 - May 2017)</p>
        <br>
      </div>
    </div>  

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">PhD Research Assistant, <a target="_blank" href="https://www.cc.gatech.edu/~parikh/vil.html">Visual Intelligence Lab, Georgia Tech</a></h3>
          <p class="content">Towards building AI systems that are Interpretable, Transparent, and Unbiased.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/vt_logo.jpg" width="110px">
        <p>(Aug 2015 - Jul 2017)</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="https://www.cc.gatech.edu/~parikh/vil.html">Visual Intelligence Lab, Georgia Tech</a></h3>
          <p class="content">building curious systems that ask Natural Language open-ended questions about an image.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/vt_logo.jpg" width="120px">
        <p>(Jan 2015 - Jul 2015)</p>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Research Intern, <a href="http://www.robots.ox.ac.uk/~phst/">Oxford University</a> </h3>
        <p class="content">Developing interactive augmented reality system where a carer helps the user understand the scene better.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/oxford_logo.png" width="100px" height="100px">
      <p>(May 2014 - Nov 2014)</p>
    </div>
  </div>


 <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Research Intern, <a href="https://vivo.brown.edu/display/bkimia/">Oxford University</a> </h3>
        <p class="content">Designing a vision-based navigation system to help the blind navigate indoor environments, through using stereo cameras and IMUs.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/brown_logo.png" width="130px" height="130px">
      <p>(May 2013 - July 2013)</p>
    </div>
  </div>

</div>
