<div class="row">
  <h2>News</h2>
  <hr>
  <div class="col-sm-12">
    <ul id="news_list">
      <li class="newsElement">Our paper titled 'Portable and low-cost LED based Spectrophotometer for the Detection of Nitrite in simulated-Urine' was awarded the best paper in <a href="https://upcon2019.amu.ac.in/">IEEE UPCON, 2019</a>.</li>
      <li class="newsElement">Our project titled 'ROSNet: A WMN based Framework using UAVs and Ground Nodes for Disaster Management' was accepted for demonstration in <a href="https://ro-man2019.org/">IEEE RO-MAN, 2019</a>.</li>
      <!--<li class="newsElement">Our paper titled <a href="https://arxiv.org/pdf/1610.02391.pdf">'Grad-CAM: Visual Explanations from Deep Networks via Gradient-based Localization'</a></a> will be published in the <a href="https://www.springer.com/computer/image+processing/journal/11263">IJCV Journal</a></li>
      <li class="newsElement">I'll be starting as Research Intern at <a href="https://www.microsoft.com/en-us/research/group/deep-learning-group/">Microsoft Research working with Ece Kamar and Eric Horvitz</a> in summer 2019</li>
      <li class="newsElement">Our paper titled <a href="https://arxiv.org/pdf/1903.07820.pdf">'Trick or TReAT: Thematic Reinforcement for Artistic Typography'</a></a> was accepted in <a href="http://www.computationalcreativity.net/iccc2019/">ICCC, 2019</a></li>
      <li class="newsElement">Our paper titled <a href="https://arxiv.org/pdf/1902.03751.pdf">'Taking a HINT: Levaraging Explanations to Make Vision and Language Models More Grounded'</a></a> was accepted in <a href="https://debug-ml-iclr2019.github.io/">Debug-ML workshop at ICLR, 2019</a></li>
      <li class="newsElement">I'll be starting as Research Intern at <a href="https://www.tesla.com/autopilot">Tesla Autopilot</a> working with Andrej Karpathy in spring 2019</li>
      <li class="newsElement">Our proposal on <a href="https://arxiv.org/abs/1902.03751">Levaraging Explanations to teach humans</a> received <a href="https://www.sra.samsung.com/global-partnership/"> Samsung Global Outreach (GRP) Research Grant </a>, 2018</li>
      <li class="newsElement">I am a finalist for the 2019 Adobe and Snap research fellowships</li>
      <li class="newsElement">Our paper titled <a href="https://arxiv.org/abs/1808.02861">'Choose Your Neuron: Incorporating Domain Knowledge through Neuron-Importance'</a></a> was accepted in <a href="https://eccv2018.org/">ECCV, 2018</a></li>
      <li class="newsElement">I'll be starting as Research Intern at <a href="https://www.sra.samsung.com">Samsung Research America </a> in summer 2018</li>
      <li class="newsElement">I will be moving from Virginia Tech to Georgia Tech along with my advisors in Fall 2017</li>
      <li class="newsElement">Our paper titled <a href="https://arxiv.org/pdf/1610.02391.pdf">'Grad-CAM: Visual Explanations from Deep Networks via Gradient-based Localization'</a></a> was accepted in <a href="http://iccv2017.thecvf.com/">ICCV, 2017</a></li>
      <li class="newsElement">Our paper titled <a href="https://arxiv.org/abs/1604.03505">'Counting Everyday Objects in Everyday Scenes'</a> was accepted in <a href="http://cvpr2017.thecvf.com/"> CVPR 2017 </a> as a Spotlight!</li>-->
    </ul>
  </div>
</div>
<style type="text/css">
  .newsElement{
    padding-bottom: 5px;
  }
</style>
