<div class="row">
    <h2>Projects</h2>
    <hr>


<table width="100%" align="left" border="0" cellspacing="0" cellpadding="20" style="border-collapse:separate; border-spacing:25px;">
	<tbody style="text-align:left;">
		
		
		<tr>
		<td valign="top" width="30%">
	    <img src="/static/img/coalition.png" width="330" height="auto">
		</td>
		<td valign="top" width="70%">
			<b>Improving Multi-UAV Coalition Capability through Performance Modeling</b>
			<br><br>
      <b>Sauranil Debarshi</b>,
			<a>P.B. Sujit</a>,
			<a>J.G. Manathara</a>, 
			<br><br>
			<p>We develop an online performance modeling technique that estimates the capability of a UAV to
perform a task within a coalition, and show that this estimate converges to the true capability. Simulation results
demonstrate that forming coalitions using the proposed performance model improves mission time and reduces the
number of deployed resources.</p>
			
			[<a href="https://github.com/sauranildebs/multi-UAV-coalition-improvement"><b>Code</b></a>]
			[<a href="https://drive.google.com/open?id=1uUopWKzA_20K2PRE5P1FgWiFdaCDivRe"><b>Video</b></a>]
		</td>
	</tr>

        
    <tr>
		<td valign="top" width="30%">
			 <img src="/static/img/spectro.png" width="320" height="auto">
		</td>
		<td valign="top" width="80%">
			<b>Low cost, Portable LED-Spectrophotometer for the Detection of Nitrite in Urine</b>
      <br> (Accepted at IEEE UPCON 2019) <br> 
			<b>Sauranil Debarshi</b>,
			<a href="https://scholar.google.co.in/citations?user=YEbRuroAAAAJ&hl=en">Mohd Mansoor Khan</a>
			<br><br>
			<p> Developed a portable spectrophotometer that uses a UV-LED, a Si-pin photodiode
			and a microcontroller to detect and warn users of the presence of nitrite in urine, in real-time. The prototype can also be configured to detect glucose and blood.
		</td>
	</tr>
	

    <tr>
		<td valign="top" width="30%">
	    <img src="/static/img/person.png" width="330" height="auto">
		</td>
		<td valign="top" width="70%">
			<b>UAV-based Person Re-Identification and Dynamic Image Routing using Wireless Mesh Networking</b>
			<br><br>
      <b>Sauranil Debarshi</b>,
			<a>Neelabhro Roy</a>,
			<a href="https://scholar.google.com/citations?user=6HHe0yEAAAAJ&hl=en">P.B. Sujit</a>, 
			<a href="https://scholar.google.co.in/citations?user=aPDRgKAAAAAJ&hl=en">A V Subramanyam</a>
			<br><br>
			<p>We propose a system wherein we explore on-board  re-identification  of  persons  using  cameras  mounted on Unmanned Aerial Vehicles (UAVs).  The camera images are dynamically shared between multiple UAVs by virtue of wireless mesh networking, also making use of the Robot Operating System (ROS) for on-ground control of the UAVs from a control station, facilitating the exchange of images between them.</p>
			
			[<a href="https://github.com/sauranildebs/UAV-based-Person-Re-Identification-and-Dynamic-Image-Routing-using-WMNs"><b>Code</b></a>]
		</td>
	</tr>
		
		
		
		 <tr>
		<td valign="top" width="30%">
	    <img src="/static/img/rosnet.png" width="330" height="auto">
		</td>
		<td valign="top" width="70%">
			<b>ROSNet: A WMN based Framework using UAVs and Ground Nodes for Disaster Management</b>
			<br><br>
      <a>Neelabhro Roy</a>,
			<b>Sauranil Debarshi</b>,
			<a href="https://scholar.google.com/citations?user=6HHe0yEAAAAJ&hl=en">P.B. Sujit</a>, 
			<br><br>
			<p>We developed a prototype system to establish communication (using wireless mesh network - WMN) through the use of stationary and mobile ground nodes, and aerial nodes using unmanned aerial vehicles (UAVs). This network is ad hoc and establishes connectivity without the use of a cellular network or internet. Our system provides a complete end to end architecture, where we deploy an android application on smart phones at the user-end, the ad hoc network comprising of stationary and mobile nodes, and a graphical user interface (GUI) at the base station that shows situational awareness.</p>
			
			[<a href="https://github.com/sauranildebs/ROSNet-A-WMN-based-Framework-using-UAVs-and-Ground-Nodes-for-Disaster-Management"><b>Code</b></a>]
		</td>
	</tr>
		
		<tr>
		<td valign="top" width="30%">
	    <img src="/static/img/sheep.png" width="330" height="auto">
		</td>
		<td valign="top" width="70%">
			<b>Solving the Shepherding Problem</b>
			<br><br>
      <a>Raghavv Goel</a>,
			<a>John L. Lewis</a>,
			<b>Sauranil Debarshi</b>,
			<a href="https://scholar.google.com/citations?user=6HHe0yEAAAAJ&hl=en">P.B. Sujit</a>, 
			<br><br>
			<p>The goal is to solve the shepherding problem using multiple Unmanned Ground Vehicles (UGVs) as shepherds and Rviz markers as sheeps.</p>
			
			[<a href="https://github.com/sauranildebs/shepherding-problem"><b>Code</b></a>]
		</td>
	</tr>
		
		
	

    

</tbody></table>




</div>
